html, body { height:100%; margin:0;  border:0; padding:0; }

/**
 * Footer Idiom.
 * This footer is not intended to say anything about the height of its container.
 * This CSS only places a footer at the bottom of some container where ever that bottom is.
 * Decision was made that the padding was ~ the desirable implementation - unfortunate.
 * E.g. html:
  <!--I declare I have a footer -->
   <div class='footer-container'>
      <div class='footer-padding'>&nbsp;</div>
      <div class='footer-content>content</div>
  </div>
 * You must implement the CSS to make the footer always at the bottom of the screen, and the styling too.
 */
.footer-container { position:relative; }
.footer-padding { height:20px; margin:0; border:0; padding:0; }
/* Should use absolute positioning and subsequently should (re)set width to 100%.*/
.footer-content { width:100%; margin:0; border:0; padding:0; position:absolute; bottom:0px; }


/**
 * Centering Content Vertically Idiom.
 * centered in wehat ever containter you put in. for center of screen must set html, body { height:100%; }
    <div class='vertically-centered-container'>
      <div class='vertically-centered-content'>
      </div>
    </div>
 */
.vertically-centered-container, .centered-container { display:table; height:100%; margin:0 auto; padding:0; border:0; }
.vertically-centered-content, .centered-content { display:table-cell; height:100%; vertical-align:middle; padding:0; border:0;  }
