<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Epicmorsel</title>
    <meta name="keywords" content="epic morsel epicmorsel">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.6/dist/vuetify.min.js"></script>
    <link href="/index.css" rel="stylesheet" type="text/css" />
    <style>
      .v-container {
        min-width: 996px;
      }
      .v-card {
        margin-bottom: 22px;
        padding: 22px;
      }
      .v-img {
        margin: 22px;
      }
      .v-text-field {
        margin-bottom: 22px;
        font-weight: bold;
      }
      .captcha-img {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-bottom: 22px;
      }
      * {
        color: salmon;
      }
    </style>
  </head>
  <body>
    <header>
      <div class='header'>
        <a href='/'><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>home</title><path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" /></svg></a>
        <a href='./contact-us.html'>Contact Us</a>
        <a><strike>Order Now</strike></a>
      </div>
    </header>
    <article>
      <div id="app">
        <v-container fluid>
          <v-dialog
            v-model="showErrorDialog"
          >
            <v-card>
              <v-card-title>ERROR</v-card-title>
              <v-card-text>
                {{ formErrorMessage || 'Unknown error' }}
              </v-card-text>
            </v-card>
          </v-dialog>
          <v-dialog
            v-model="successResponse"
            @close="done"
          >
            <v-card>
              <v-card-title>SUCCESS</v-card-title>
              <v-card-text>
                {{ successResponse }}
              </v-card-text>
              <v-card-actions class="d-flex justify-end align-baseline" style="gap: 1rem">
                <v-btn
                  color="blue-darken-1"
                  variant="text"
                  @click="done"
                >
                  OK
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-overlay :model-value="working" class="align-center justify-center">
            <v-progress-circular
              indeterminate
              size="64"
            ></v-progress-circular>
          </v-overlay>
          <v-row>
            <v-col cols=12 md=6 offset-md='3'>
              <v-card>
              <v-form
                ref="form"
                v-model="valid"
                lazy-validation
                :disabled="!ready"
              >
                <div class='form-component'>
                  <v-select
                    v-model="formData.queryType"
                    label="Query type"
                    :items="queryType"
                    item-title="title"
                    item-value="value"
                    :rules="required"
                  ></v-select>
                  <v-text-field
                    v-model="formData.email"
                    :rules="emailRules"
                    type="email"
                    label="Your Email"
                  ></v-text-field>
                  <v-text-field
                    v-model="emailCopy"
                    :rules="emailSet ? matchEmail : []"
                    :disabled='!emailSet'
                    type="email"
                    label="Retype Your Email"
                  ></v-text-field>
                  <v-textarea
                    v-model="formData.query"
                    label="Your Query"
                    :rules="required"
                  ></v-textarea>
                </div>
                <div class='form-component'>
                  <template v-if="requireCaptcha">
                    <div class='captcha-img'>
                      <img
                        :src="captchaImage"
                        alt="Waiting for captcha ..."
                        style='color: gray'
                      >
                      </img>
                    </div>
                    <v-text-field
                      v-model="captchaAnswer"
                      :label="captchaAnswerLabel"
                      :rules="required"
                    ></v-text-field>
                  </template>
                  <template v-else>
                    <div class='captcha-img'>
                      <i style='margin: auto auto'>Captcha: We think your human &nbsp; <v-icon>mdi-check</v-icon></i>
                    </div>
                  </template>
                </div>
                <div class="d-flex justify-end align-baseline form-component" style="gap: 1rem">
                  <v-btn
                    color="white"
                    class="mr-4"
                    @click="cancel"
                    :disabled="!ready"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    :disabled="!changed || !valid"
                    color="black"
                    @click="submit"
                  >
                    Submit
                  </v-btn>
                </div>
              </v-form>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </article>
    <footer>
      <p class='footer'>&#169;Epicmorsel</p>
    </footer>
  <script>
    const { createApp, defineComponent, nextTick } = Vue;
    const { createVuetify } = Vuetify;
    const vuetify = createVuetify()

    const projectId = '36e14e64-69d0-4a20-8254-35faa9c431a3';

    const App = defineComponent({
      data: function() {
        return {
          formData: {
            projectId: undefined,
            queryType: 'question',
            email: '',
            query: '',
          },
          formErrorMessage: undefined,
          showErrorDialog: false,
          requireCaptcha: true,
          captchaAnswer: undefined,
          captcha: {},
          emailCopy: '',
          working: false,
          valid: false,
          successResponse: undefined,
          required: [(v) => v ? true : 'Required'],
          emailRules: [
            (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
          ],
          matchEmail: [
            (v) => (v && v === this.formData.email) || `Must match email`,
          ],
          queryType: [
            { title: 'Question', value: 'question' },
            { title: 'Complaint', value: 'complaint' },
            { title: 'Demand Service', value: 'service' },
            { title: 'Other', value: 'other' },
          ],
        };
      },
      computed: {
        changed() {
          return Object.keys(this.formData).length;
        },
        emailSet() {
          return 'email' in this.formData;
        },
        captchaAnswerLabel() {
          return this.captcha?.hint ? `Captcha Answer (hint: ${this.captcha?.hint})` : 'Captcha answer';
        },
        captchaImage() {
          return this.captcha?.img || ''
        },
        ready() {
          return !this.working;
        },
        showErrorDialog() {
          return !!this.formErrorMessage;
        }
      },
      methods: {
        cancel() {
          history.back();
        },
        reset () {
          this.$refs.form.resetValidation();
          this.formData = {};
          this.emailCopy = undefined;
          this.captchaAnswer = undefined;
          this.$refs.form.validate();
        },
        resetValidation () {
          this.$refs.form.resetValidation();
          this.$refs.form.validate();
        },
        async submit() {
          const { email: email, queryType, query } = this.formData;
          try {
            const body = await this._fetch('https://mail-me.epicmorsel.com/api/mail-me/', {
              method: 'post',
              credentials: 'include',
              body: JSON.stringify({
                projectId,
                email,
                text: query,
                data: { queryType },
                captcha: {
                  answer: this.captchaAnswer
                },
              })
            });
            if(body.error) {
              if(body.error == 'CaptchaError') {
                this.handleCaptchaSubmissionError(body);
              } else {
                this.setError(body.message);
              }
            } else {
              this.successResponse = body;
            }
          } catch(e) {
            this.setError(`Network Error: ${e.message}`);
          }
        },
        done() {
          history.back();
        },
        setError(message) {
          this.formErrorMessage = message || 'Unknown error';
          this.showErrorDialog = true;
        },
        async _fetch(url, options = {}) {
          try {
            this.working = true;
            const res = await fetch(url, options);
            const body = await res.json();
            return body;
          } catch (e) {
            throw e;
          } finally {
            this.working = false;
          }
        },
        async fetchCaptcha(forceNew = 0) {
          this.captcha = undefined;
          const body = await this._fetch(`https://mail-me.epicmorsel.com/api/captcha?forceNew=0`, { credentials: 'include' });
          if(body.img) {
            this.captcha = body;
          } else if(body.valid) {
            this.requireCaptcha = false;
          }
          else {
            this.setError(body.message);
          }
        },
        handleCaptchaSubmissionError(error) {
          if(['WRONG', 'TOOK_TOO_LONG'].includes(error.appStatusCode)) {
            this.setError(error.message);
          }
          setTimeout(() => this.fetchCaptcha(1), 1000);
        }
      },
      async mounted() {
        this.$refs.form.validate(); // v-form sets this.valid to null before mount.
        await this.fetchCaptcha();
      },
    });


    const app = createApp(App)
    .use(vuetify)
    .mount('#app');

  </script>
  </body>
</html>

